body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-image: url('sakura.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #662e40;
}

.container {
    background: #faacd5;
    padding: 20px 30px;
    border-radius: 8px;
    border: 2px solid #662e40;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

#task-input::placeholder {
  color: #999999;      
  font-style: italic;
  opacity: 1;    
  font-size: 14px;
}

button {
    padding: 10px 20px;
    background: linear-gradient(45deg, #fc466b, #42a1ff);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    animation: glow 3s linear infinite;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(255,255,255,0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background: linear-gradient(45deg, #fa385f, #3497fa);
    transform: scale(1.05);
    box-shadow: 0 0 25px #46fcfc;
}

ol#task-list {
  counter-reset: task-counter;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

ol#task-list li {
  counter-increment: task-counter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #662e40;
  background: #faacd5;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

ol#task-list li .number {
  flex-shrink: 0;
  width: 25px;
  font-weight: bold;
  color: #662e40;
  text-align: right;
  margin-right: 10px;
}

ol#task-list li span {
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-right: 10px;
  max-width: calc(100% - 25px - 60px);
}

li.completed span {
  text-decoration: line-through;
  color: rgb(166, 177, 228);
}

li button {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
  width: 60px;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fcba03,
                     0 0 20px #fcba03,
                     0 0 30px #fcba03;
    }

    25% {
        text-shadow: 0 0 15px #03ff07,
                     0 0 25px #03ff07;
        
    }

    50% {
        text-shadow: 0 0 10px #ff5842,
                     0 0 20px #ff5842,
                     0 0 30px #ff5842;
        box-shadow: 0 0 20px #ff5842;
    }

    75% {
        text-shadow: 0 0 15px #782871,
                     0 0 25px #782871;
        box-shadow: 0 0 15px #782871;
    }

    100% {
        text-shadow: 0 0 10px #fcba03,
                     0 0 20px #fcba03,
                     0 0 30px #fcba03;
    }
}
